.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}
 
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}
 
.my-message {
    background: var(--ion-color-primary-shade);
    color: #fff;
}
 
.other-message {
    background: var(--ion-color-light-shade);
    color: rgb(0, 0, 0);
}
 
.time {
    color: #c3c3c3;
    float: right;
    font-size: small;
}